<!DOCTYPE html>
<html>
<head>
     <title>Learning-Dojo</title>
</head>
<body>

<h1>Learning-Dojo</h1>


<!--####################################################-->
<!-- IF THERE IS SOMETHING IN "RESULT" AND IT IS NOT    -->
<!-- "NONE" MEANING THAT THE QUESTION IS ANSWERED.      -->
<!--####################################################-->

{% if result %}
    <p><strong>{{ result }}</strong></p>
    <p>{{ question.question }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="next">Next Question</button>
    </form>

<!--####################################################-->
<!-- IF THERE IS "NONE" IN "RESULT". MEANING THAT THE   -->
<!-- QUESTION HAS NOT BEEN ANSWERED YET.                -->
<!--####################################################-->

{% else %}
    <p>{{ question.question }}</p>

    <form method="POST">
        {% csrf_token %}

        <input type="text"
               name="answer"
               placeholder="Your answer"
               autocomplete="off">

        <input type="hidden"
               name="correct_answer"
               value="{{ question.answer }}">

        <input type="hidden"
               name="question"
               value="{{ question.question }}">
    
        <button type="submit">Submit</button>
    </form>
{% endif %}

</body>
</html>



